@font-face {
	font-family: 'Odin Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Odin Bold'), url('../Odin-Rounded.woff') format('woff');
}
*{
	margin:0;
	padding:0;
	font-family:'Odin Bold';
}
/*--------------------------Navigation--------------------------*/
.navbar-brand img{
	height:60px;
	padding-left:30px;
	padding-right:15px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	text-align:left;
}
.navbar{
	background:black;
}
.navbar-brand span{
	color:#cfcfcf;
	font-size:20pt;
}
.nav-link{
	color:#cfcfcf;
	font-weight:600;
	font-size:16pt;
}
.textmain{
	padding: 20px 15px;
}
.nav-link:hover{
	text-decoration:none!important;
	color:white;
}
/*--------------------------Header--------------------------*/
#headerpage{
	margin-top: 80px;
	background-image: url(../image/HowToPlayHeader.jpg);
	background-size: cover;
	background-position: center;
	color: white!important;
	padding-top: 50px;
	padding-bottom: 50px;
}
#headerpage h1{
	text-align:center;
	font-size:32pt;
	padding-bottom:10px;
}
#headerpage h1::after{
	content: '';
	background:white;
	display:block;
	height:3px;
	width:200px;
	margin:20px auto 5px;
}
.description{
	text-align:center;
	font-size:18pt;
}
/*--------------------------Game Mode--------------------------*/
#gamemode{
	color:white!important;
	background-attachment:fixed;
	padding-top:50px;
	padding-bottom:50px;
}
#gamemode h1{
	text-align:center;
	padding-bottom:10px;
}
#gamemode h1::after{
	content: '';
	background:white;
	display:block;
	height:3px;
	width:250px;
	margin:20px auto 5px;
}
.gamemode{
	margin-top:40px;
}
#gamemode img{
	font-size:40px;
	margin:20px auto;
	padding:20px;
	height:80px;
	width:80px;
	border:1px solid #cfcfcf;
	border-radius:30%;
	background-color:black;
}
.link-mode:hover{
	box-shadow:0 1px 30px #8c8c8c;
	color:white;
}
/*--------------------------Character Lists--------------------------*/
#charLists .moderator{
	border: 1px solid #3E95DF;
	background-color: #3E95DF;
	border-radius: 3px;
	color: black;
	width: 100%;
}
#charLists .werewolfSide{
	margin-top: 30px;
	border: 1px solid #E75032;
	background-color: #E75032;
	border-radius: 3px;
	color: black;
	width: 100%;
}
#charLists .villagerSide{
	margin-top: 30px;
	border: 1px solid #46E175;
	background-color: #46E175;
	border-radius: 3px;
	color: black;
	width: 100%;
}
#charLists .noSide{
	margin-top: 30px;
	border: 1px solid #F9FE37;
	background-color: #F9FE37;
	border-radius: 3px;
	color: black;
	width: 100%;
}
#charLists .cultistSide{
	margin-top: 30px;
	border: 1px solid #cfcfcf;
	background-color: #cfcfcf;
	border-radius: 3px;
	color: black;
	width: 100%;
}
#charLists .btn:hover{
	box-shadow:0 2px 15px #8c8c8c;
	color: #8c8c8c;
}
.list-group-item{
	background-color: black!important;
	border-bottom: 1px solid #cfcfcf!important;
	width: 100%;
}
.bluetext{
	color:#3E95DF;
}
.redtext{
	color:#E75032;
}
.greentext{
	color:#46E175;
}
.yellowtext{
	color:#F9FE37;
}
.silvertext{
	color:#cfcfcf;
}
#charLists .badge{
	background-color: #cfcfcf!important;
	color:black;
}
.alert{
	background-color: #E75032;
	font-size: 20px;
}
/*--------------------------Contact--------------------------*/
#contact h1{
	margin-top: 50px;
	text-align:center;
	padding-bottom:10px;
	color:white!important;
}
#contact h1::after{
	content: '';
	background:white;
	display:block;
	height:3px;
	width:140px;
	margin:20px auto 5px;
}
#contact{
	padding-top:40px;
	padding-bottom:40px;
	color:black;
}
.contact-form{
	padding:15px;
}
.form-control{
	border:none !important;
	background-color:#cfcfcf!important;
}
::placeholder{
	color:#8c8c8c!important;
}
.follow{
	background:#cfcfcf;
	padding:10px;
	margin:15px;
	border-radius:4px;
}
.linkig{
	text-decoration: none!important;
	color: black;
}
.linkig:hover{
	color: #8c8c8c;
}	